p {font-family: Verdana, Arial, Helvetica, sans-serif;}
h {font-family: Verdana, Arial, Helvetica, sans-serif;}
li {font-family: Verdana, Arial, Helvetica, sans-serif ; font-size: large}
header{ background: color #5a809b;
    height: 190px;
    border: 1px solid #d2e4f0;
    border-radius: 25px;}
header img { float: left;
    border-radius: 30px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 10px;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;}
header h1 { font-size: 150%;
    margin-top: 40px;}
header div {padding-top: 1%;}
h1 {text-shadow: 2px 0 grey;}
body {background-color: #8ba0ad;}
header p {display: inline;}
section {background-color: #d2e4f0;
    height: 110%;
    border: 1px;
    border-radius: 25px;
    padding: 2%;
    margin-top: 2%;}
section h2 { color: #19384e;
    font-size: 150%;}
.style {color: #856a12;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-size: 105%;}
a:hover {
        background-color: #5a809b;
        text-decoration: underline;
        color: #ffffff;}